[Unit]
Description=Overseerr
Wants=network.target
After=syslog.target network.target

[Service]
User={{ overseerr_user }}
Group={{ overseerr_group }}
WorkingDirectory={{ _overseerr_dir }}
EnvironmentFile={{ overseerr_default_etc_dir }}/overseerr.conf
Environment=NODE_ENV=production
ExecStart=/usr/bin/node dist/index.js
Type=exec
Restart=on-failure

[Install]
WantedBy=multi-user.target